.container{
    border: solid 2px black;
    background-color: antiquewhite;
    width: 900px;
    margin: auto;
    padding: 10px;
}

.resualt1{
    min-height: 30px;
    border: solid 2px green;
    background-color: bisque;
    padding: 10px;
}