.Box {
    width: 800px;
    height: 700px;
    border: solid 2px lightblue;
    display: flex; 
    flex-wrap: wrap; 
    align-content: flex-start; 
    margin-bottom: 20px;
}


.small-square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.Button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.gallery-container {
    width: 100vw;
    border: solid 2px lightblue;
    display: flex; 
    flex-wrap: wrap; 
    gap: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.photo-card {
    width: 22vw;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box;
}


.hidden {
    display: none !important;
}

.photo-card img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.buttons {
    margin-top: 5px;
}

.ButtonDelete, .ButtonUpdate, .ButtonAdd {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 2px;
}

.ButtonAdd {
    padding: 10px 20px;
    font-size: 16px;
}